:root {
    --cta: #3e78ff;
    --cta90: #3e78ff99;
    --fundoLista: #3e78ff20;
    --fundoCabec: #fafafa;
    --branco: #fff;
    --fundoform: #fe9292;
    --shadowModalDelete: #fddbdb;
    --desativa: #d6d6d6;
    --cinza: #2f2f2f;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 250px;
    background: var(--fundoCabec);
    align-items: center;
}

.header h2 {
    font-size: 26px;
    font-weight: 700;
}

.form {
    display: none;
}

.block {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 20px 250px;
    background: var(--fundoform);
    transition: 0.5 all;
}



input {
    padding: 10px;
    border-radius: 10px;
}

#save, .save {
    background: var(--cta);
    color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 20px;
}

.btt-add {
    display: flex;
    color: var(--branco);
    font-weight: bold;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    background: var(--cta);
    border-radius: 10px;
    align-items: center;
    transition: 0.5s all;
    cursor: pointer;
}

.none {
    background: var(--desativa);
}

.btt-add:hover {
    background: var(--cta90);
}

.listEmployee {
    display: flex;
    flex-direction: column;
    background: var(--fundoLista);
    align-items: start;
    padding: 20px 250px;
    width: 100%;
    gap: 10px;
}

.ulHeader{
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}



/* lista */
#ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}



/* card do li */
.item {
    background: var(--branco);
    padding: 20px;
    border-radius: 10px;

    display: flex;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    
}

/* textos do li */
.h2 {
    font-size: 20px;
    font-weight: 700;
    width: 24%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.head {
    display: flex;
    justify-content: center;
    width: 10%;
    align-items: center;
    font-size: 22px;
    color: var(--cta);
}

/* div dos botões */
.itemIcons {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}
.itemIcons img {
    width: 32px;    
}



.modalDelete {
    background: var(--fundoCabec);
    border: none;
    border-radius: 15px;
    padding: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;  
    width: 50%; 
    box-shadow: 1px 1px 5px 0.1px var(--fundoform);
}

.noneModal {
    display: none;
}
dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.line1 {    
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
    border-bottom: 1px solid var(--cinza);
}

.line2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.h2Modal {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    text-align: center;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.txtConfirm {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    
    color: red;
}
.divButts {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.cancel, .delete {
    background: var(--desativa);
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 15px;
    height: max-content;

    white-space: nowrap;

}

.delete {
    background: red;
}